@import url('https://fonts.googleapis.com/css?family=Audiowide');
body{
	margin: 0;
	background-image: url(../images/bg.jpg);
	display: flex;
}
a{
	text-decoration: none;
}
p{
	color: #fff;
}
ul{
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-transform: lowercase;
	color: #fff;
}
li{
	list-style-type: none;
}
input{
	height: 15px;
	border: none;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Audiowide', cursive;
}
menu{
	padding: 0;
	margin: 0;
}
menu .choose{
	display: flex;
	/*overflow: hidden;*/
}
menu .choose .char{
	transform: skewX(-4deg);
	display: block;
	transition: .5s ease;
	border: 1px solid #000;
}
menu .choose>button{
	display: flex;
	background-color: rgba(255,255,255, .6);
}

.desc{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.desc .name{
	font-family: 'Audiowide', cursive;
	background: rgba(0,0,0, .5);
	transition: 1s ease;
}
.desc .name .buttons{
	display: flex;
	background:#000;
	justify-content: space-between;
}
.desc .name .buttons button{
	color:#fff;
	background-color: #000;
	border:none;
	font-size: 1rem;
}
.desc .name input{
	height: 1.5em;
	background-color: rgba(255,255,255, .4);
	color:#000;
}
.desc .stats{
	font-family: 'Audiowide', cursive;
	background: rgba(0,0,0, .5);
	transition: 1s ease;
}
.desc .stats ul{
	text-transform: capitalize;
}
.desc .stats ul li{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed rgba(255,255,255, .5);
}
.desc .stats input{
	width: 40px;
	background-color: rgba(255,255,255, .4);
}

.for-add{
	position: fixed;
	height: 100%;
	left: 0%;
	background-color: #fff;
	display: none;
	/*transform: skewX(-4deg);*/
	transition: .5s ease;
}
.for-add button{
	background: #000;
	border:none;
	color: #fff;
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0;
	position: absolute;
	right:0;
}

.for-add button.add-char{
	right: 1.5rem;
	z-index: 1000;
}

.showChar{
	background: #000;
	position: absolute;
	top: 0;
	display: none; /*----------------------------*/
	flex-direction: row;
	height: 100%;
	color:#fff;
	background-position: center center;
	background-repeat: repeat;
}
.showChar button{
	width: 1.5rem;
	height: 1.5rem;
	border:none;
	font-size: 1rem;
	position: absolute;
	right: 0;
	z-index: 100;
	border-radius: 3px;
	/*background: ;*/
}
.showChar .black-line{
	position: absolute;
	top:0;
	width: 100%;
	height: 1.5rem;
	background: rgba(0,0,0, .8);
}
.showChar .black-line p{
	margin-top: 0;
}
.showChar ul {
	margin-top: 1.5rem;
	width:100%;
	text-transform: capitalize;
	display: inline-flex;
	justify-content: space-between;
	height: 15%;
	background: rgba(0,0,0, .8);
}

.showChar ul li{
	display: flex;
	flex-direction: column;

}
.showChar ul li span{
	border:1px solid #fff;
	text-align: center;
}
.showChar ul li span:first-child{
	border-radius: 3px 3px 0 0;
	padding:15px 10px;
}

.showChar ul li span:last-child{
	font-size: large;
	border-radius: 0 0 3px 3px;
	height: 100%;
}

/*----------------------------------------------------------------------------------------------------------------*/

.file-upload {
     position: relative; 
     right: 50%
     width: 20%; 
     height: 100%; 
     color: #000;
     text-align: center;
}

.file-upload input[type="file"]{
    display: none; 
}
.file-upload label {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     position: absolute;
     background-color: rgba(0,0,0, .6);
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload span {
     line-height: 100%; 
}

/*----------------------------------------------------------------------------------------------------------------*/
menu .choose .n1{
	
	background-position: 49% 32%;
}
menu .choose .n2{
	background-position: center 74%;
	
}
menu .choose .n3{
	background-position: 54% 2%;

}
menu .choose .n4{
	background-position: 57% 54%;
	
}
