body{
	margin: 0;
	background-image: url(../images/bg.jpg);
	display: flex;
}
a{
	text-decoration: none;
	color: #fff;
}
p{
	color: #fff;
}
.add-chatacter{

}
menu{
	padding: 0;
	margin: 0;
}
menu .choose{
	display: flex;
	/*overflow: hidden;*/

}
menu .choose .char{
	transform: skewX(-4deg);
	display: block;
	transition: .5s ease;
	border: 1px solid #000;
	border-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.desc{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.desc .name{
	border: 2px solid #fff;
}
menu .choose .n1{
	background-image: url("../images/DW.jpg");
	background-position: 49% 32%;
}
menu .choose .n2{
	background-position: center 74%;
	background-image: url("../images/lotr.jpg");
}
menu .choose .n3{
	background-position: 54% 2%;
	background-image: url("../images/marvel.jpg");
}
menu .choose .n4{
	background-position: 57% 54%;
	background-image: url("../images/star-wars.jpg");
}
